{% assign truncate_at = section.settings.truncate_announcement_body | default: 300 %}

<div class="announcement box-shadow-{{ section.settings.box_shadow }} background-{{ section.settings.announcement_background_color | color_scheme_class }}" kjb-settings-id="{{ 'announcement_background_color' | settings_id: section: section }}">
  <p class="announcement__product" kjb-settings-id="{{ 'color_product_text' | settings_id: section: section }}">{{ announcement.product.title }}</p>
  <h3 class="announcement__title" kjb-settings-id="{{ 'color_title_text' | settings_id: section: section }}">{{ announcement.title }}</h3>
  <p class="announcement__date" kjb-settings-id="{{ 'color_date_text' | settings_id: section: section }}">{{ announcement.updated_at | date: "%A, %B %d, %Y" }}</p>
  {% if section.settings.show_announcement_body and truncate_at != "0" %}
    <div class="announcement__body" kjb-settings-id="{{ 'color_body_text' | settings_id: section: section }}">
      {{ announcement.body | strip_html | truncate: truncate_at, "..." }}
    </div>
  {% endif %}
  <a class="announcement__link" href="{{ announcement.url }}" kjb-settings-id="{{ 'text_read_more' | settings_id: section: section }}">{{ section.settings.text_read_more }}</a>
</div>