<div class="col-6 text-center">
  <div class="auth__content">
    <h1 class="auth__title">{{ settings.reset_text }}</h1>
    {% form 'forgot_password_edit' %}
      {% if form.errors.messages['reset_password_token'] %}
        <div class="auth__message alert alert--danger">{{ form.errors.messages['reset_password_token'] }}</div>
      {% elsif form.errors.messages['form'] %}
        <div class="auth__message alert alert--danger">{{ form.errors.messages['form'] }}</div>
      {% endif %}
      <div class="form-group {% if form.errors.messages['password'] %}auth__group--error{% endif %}">
        <label class="auth__label" for="member_password">{{ settings.new_password }}</label>
        <input class="form-control auth__field" autofocus="autofocus" type="password" name="member[password]" id="member_password" />
        {% if form.errors.messages['password'] %}
          <div class="auth__message">{{ form.errors.messages['password'] }}</div>
        {% endif %}
      </div>
      <div class="form-group auth__group {% if form.errors.messages['password_confirmation'] %}auth__group--error{% endif %}">
        <label class="auth__label" for="member_password_confirmation">{{ settings.confirm_password }}</label>
        <input class="form-control auth__field" type="password" name="member[password_confirmation]" id="member_password_confirmation" />
        {% if form.errors.messages['password_confirmation'] %}
          <div class="auth__message">{{ form.errors.messages['password_confirmation'] }}</div>
        {% endif %}
      </div>
      {% include "element_button_login", btn_text: settings.reset_btn %}
    {% endform %}
    <div class="auth__link">
      {{ settings.login_text | member_login_link }}
    </div>
  </div>
</div>