{% assign btn_background_color = block.settings.btn_background_color | default: settings.btn_background_color %}
{% assign btn_text_color = block.settings.btn_text_color | default: settings.btn_text_color %}
{% assign btn_border_radius = block.settings.btn_border_radius | default: settings.btn_border_radius | remove: "px" | append: "px" %}
{% assign btn_style = block.settings.btn_style | default: settings.btn_style %}
{% assign btn_size = block.settings.btn_size | default: settings.btn_size %}
{% assign btn_width = block.settings.btn_width | default: settings.btn_width %}

<style>
  #block-{{ block.id }} .btn {
    border-color: {{ btn_background_color }};
    border-radius: {{ btn_border_radius }};
    background: {{ btn_background_color }};
    color: {{ btn_text_color }};
  }
  #block-{{ block.id }} .btn--outline {
    background: transparent;
    color: {{ btn_background_color }};
  }
  #block-{{ block.id }} .card__footer {
    color: {{ block.settings.footer_text_color }}
  }
</style>

<div class="card">
  {% capture card_image_cta %}
  {% if block.settings.action != blank %}
    <a href="{{ block.settings.action }}" {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %}>
  {% endif %}
  <img class="card__image" src="{{ block.settings.image | image_picker_url: 'placeholder.png' }}" alt="{{ block.settings.image_alt }}" />
  {% if block.settings.action != blank %}
    </a>
  {% endif %}
  {% endcapture %}
  {% include "enable_pop_up_checkout", action_setting: block.settings.action, trigger: card_image_cta %}
  <div class="card__body">
    {% if block.settings.description != blank %}
      <div class="card__text">
        {{ block.settings.description }}
      </div>
    {% endif %}
    {% if block.settings.show_cta %}
      {% capture card_cta %}
      <a href="{{ block.settings.action }}" {% if block.settings.action == "#two-step" %} data-target="#two-step" data-toggle="modal" {% endif %} {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} class="btn card__button btn--{{ btn_style }} btn--{{ btn_width }} btn--{{ btn_size }}" kjb-settings-id="{{ 'btn_text' | settings_id: section: section, block: block }}">
        {{ block.settings.btn_text }}
      </a>
      {% endcapture %}
      {% include "enable_pop_up_checkout", action_setting: block.settings.action, trigger: card_cta %}
    {% endif %}
    {% if block.settings.footer != blank %}
      <h5 class="card__footer">{{ block.settings.footer }}</h5>
    {% endif %}
  </div>
</div>