{% include "element_social_icons_style" %}

<div class="social-icons social-icons--{{ block.settings.social_icon_background_style }} social-icons--{{ block.settings.social_icons_size }} social-icons--{{ block.id }} {% if block.settings.social_icons_background_color != blank and block.settings.social_icon_background_style != "" %} background-{{ block.settings.social_icons_background_color | color_scheme_class }}{% endif %}" kjb-settings-id="{{ 'social_icons_text_color' | settings_id: section: section, block: block }}">
  <div class="social-icons__icons">
    {% include "element_social_icons" %}
  </div>
</div>