<div class="col-6 text-center">
  <div class="auth__content">
    <h1 class="auth__title">{{ settings.recover_text }}</h1>
    {% form 'forgot_password' %}
      {% if form.errors.messages['form'] %}
        <div class="auth__message alert alert--danger">{{ form.errors.messages['form'] }}</div>
      {% endif %}
      <div class="form-group auth__group {% if form.errors %}auth__group--error{% endif %}">
        <label class="auth__label" for="member_email" kjb-settings-id="email_text">{{ settings.email_text }}</label>
        <input class="form-control auth__field" autofocus="autofocus" type="email" value name="member[email]" id="member_email" value="{{ form.email }}" />
        {% if form.errors.messages['email'] %}
          <span class="auth__message">{{ form.errors.messages['email'] }}</span>
        {% endif %}
      </div>
      {% include "element_button_login", btn_text: settings.recovery_text %}
    {% endform %}
    <div class="auth__link">
      {{ settings.login_text | member_login_link }}
    </div>
  </div>
</div>