{% assign btn_background_color = section.settings.opt_in_btn_background_color | default: settings.btn_background_color %}
{% assign btn_text_color = section.settings.opt_in_btn_text_color | default: settings.btn_text_color %}
{% assign btn_border_radius = section.settings.opt_in_btn_border_radius | default: settings.btn_border_radius | remove: "px" | append: "px" %}
{% assign btn_style = section.settings.opt_in_btn_style | default: settings.btn_style %}
{% assign btn_size = section.settings.opt_in_btn_size | default: settings.btn_size %}
{% assign btn_width = section.settings.opt_in_btn_width | default: settings.btn_width %}

{% if section.settings.opt_in_input_label == "label" %}
  {% assign use_label = true %}
  {% assign use_placeholder = false %}
{% else %}
  {% assign use_label = false %}
  {% assign use_placeholder = true %}
{% endif %}

<style>
  .blog-post-optin {
    background-color: {{ section.settings.opt_in_background_color }};
    border-color: {{ section.settings.opt_in_border_color }};
    border-width: {{ section.settings.opt_in_border_width | remove: "px" | append: "px" }};
    text-align: {{ section.settings.opt_in_content_text_align }};
  }
  .blog-post-optin__disclaimer-text {
    color: {{ section.settings.opt_in_disclaimer_text_color }};
  }
  #opt-in-btn {
    border-color: {{ btn_background_color }};
    border-radius: {{ btn_border_radius }};
    color: {{ btn_text_color }};
    background-color: {{ btn_background_color }};
  }
  #opt-in-btn.btn--outline {
    background: transparent;
    color: {{ btn_background_color }};
  }
</style>

<div class="blog-post-optin {% if section.settings.opt_in_background_color != blank %}background-{{ section.settings.opt_in_background_color | color_scheme_class }}{% endif %}" kjb-settings-id="{{ 'opt_in_background_color' | settings_id: section: section }}">
  <div class="blog-post-optin__content" kjb-settings-id="{{ 'opt_in_content' | settings_id: section: section }}">{{ section.settings.opt_in_content }}</div>
  <div class="blog-post-optin__form" kjb-settings-id="{{ 'opt_in_form' | settings_id: section: section }}">
    {% assign f = current_site.find_form[section.settings.opt_in_form] %}
    {% if f %}
      {% form f %}
        <input type="hidden" name="thank_you_url" value="{{ section.settings.opt_in_thank_you }}">
        {% for field in f.fields %}
          {{ field | form_input: class: "form-group", input_class: "form-control", label: use_label, placeholder: use_placeholder }}
        {% endfor %}
        <input id="opt-in-btn" class="btn btn--{{ btn_style }} btn--{{ btn_size }} btn--{{ btn_width }} {{ appended_classes }}" type="submit" name="commit" value="{{ section.settings.opt_in_btn_text }}" />
      {% endform %}
    {% else %}
      {% if editor %}
        <div class="editor-null" kjb-settings-id="{{ 'opt_in_form' | settings_id: section: section }}">
          Click here to select a form to display.
        </div>
      {% endif %}
    {% endif %}
  </div>
  {% if section.settings.opt_in_disclaimer_text != blank %}
    <p class="blog-post-optin__disclaimer-text" kjb-settings-id="{{ 'opt_in_disclaimer_text' | settings_id: section: section }}">{{ section.settings.opt_in_disclaimer_text }}</p>
  {% endif %}
</div>