<style>
   .sidebar__panel {
     background-color: {{ section.settings.sidebar_background_color }};
     border-color: {{ section.settings.sidebar_border_color }};
     border-radius: {{ section.settings.sidebar_border_radius | remove: "px" | append: "px" }};
     border-style: {{ section.settings.sidebar_border_type }};
     border-width: {{ section.settings.sidebar_border_width | remove: "px" | append: "px" }} ;
   }
</style>

<div class="col-lg-3 {% if section.settings.sidebar_on_right == false %}sidebar__container--left{% endif %} {% if section.settings.sidebar_on_bottom == false %}sidebar__container--top{% endif %} {% if section.settings.show_sidebar_desktop == false %}sidebar__container--hidden-desktop{% endif %} {% if section.settings.show_sidebar_mobile == false %}sidebar__container--hidden-mobile{% endif %}">
  <div class="sidebar" kjb-settings-id="{{ 'show_sidebar' | settings_id: section: section }}">
    {% if section.settings.sidebar_in_panel %}
      <div class="sidebar__panel box-shadow-{{ section.settings.sidebar_box_shadow }} {% if section.settings.sidebar_background_color != blank %}background-{{ section.settings.sidebar_background_color | color_scheme_class }}{% endif %}">
    {% endif %}
      {% for block in section.blocks %}
        <div class="sidebar__block">
          {% case block.type %}
            {% when "sidebar_search" %}
              {% include "sidebar_search" %}
            {% when "sidebar_custom" %}
              {% include "sidebar_custom" %}
            {% when "sidebar_cta" %}
              {% include "sidebar_cta" %}
            {% when "sidebar_recent_posts" %}
              {% include "sidebar_recent_posts" %}
            {% when "sidebar_categories" %}
              {% include "sidebar_categories" %}
            {% when "sidebar_image" %}
              {% include "sidebar_image" %}
            {% when "sidebar_social" %}
              {% include "sidebar_social" %}
            {% when "sidebar_instructor" %}
              {% include "sidebar_instructor" %}
          {% endcase %}
        </div>
      {% endfor %}
    {% if section.settings.sidebar_in_panel %}
      </div>
    {% endif %}
  </div>
</div>