{% assign btn_background_color = section.settings.btn_background_color | default: settings.btn_background_color %}
{% assign btn_text_color = section.settings.btn_text_color | default: settings.btn_text_color %}
{% assign btn_border_radius = section.settings.btn_border_radius | default: settings.btn_border_radius | remove: "px" | append: "px" %}
{% assign btn_style = section.settings.btn_style | default: settings.btn_style %}
{% assign btn_size = section.settings.btn_size | default: settings.btn_size %}
{% assign btn_width = section.settings.btn_width | default: settings.btn_width %}

<style>
  #btn-{{ section.id }} {
    border-color: {{ btn_background_color }};
    border-radius: {{ btn_border_radius }};
    color: {{ btn_text_color }};
    background-color: {{ btn_background_color }};
  }
  #btn-{{ section.id }}.btn--outline {
    background: transparent;
    color: {{ btn_background_color }};
  }
</style>

{% capture element_button_section_action %}
<a id="btn-{{ section.id }}" class="btn btn--{{ btn_style }} btn--{{ btn_size }} btn--{{ btn_width }}" href="{{ section.settings.btn_action }}" {% if section.settings.btn_action == "#two-step" %} data-target="#two-step" data-toggle="modal" {% endif %} {% if section.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} kjb-settings-id="{{ 'btn_background_color' | settings_id: section: section }}" role="button">
  {{ section.settings.btn_text }}
</a>
{% endcapture %}
{% include "enable_pop_up_checkout", action_setting: section.settings.btn_action, trigger: element_button_section_action %}