{% assign background_color = block.settings.background_color | default: settings.color_primary %}

<style>
  #block-{{ block.id }} .hello-bar {
    background-color: {{ background_color }};
  }
  #block-{{ block.id }} .hello-bar__text {
    color: {{ block.settings.text_color }};
  }
</style>

<div class="block hello-bar background-{{ background_color | color_scheme_class }} text-{{ block.settings.horizontal }}" kjb-settings-id="{{ 'text' | settings_id: section: section, block: block }}">
  {% capture header_block_hello_bar_action %}
  {% if block.settings.action != blank %}
    <a href="{{ block.settings.action }}" {% if block.settings.action == "#two-step" %} data-target="#two-step" data-toggle="modal" {% endif %} {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %}>
  {% endif %}
    <div class="container">
      <p class="hello-bar__text" kjb-settings-id="{{ 'text_color' | settings_id: section: section, block: block }}">{{ block.settings.text }}</p>
    </div>
  {% if block.settings.action != blank %}
    </a>
  {% endif %}
  {% endcapture %}
  {% include "enable_pop_up_checkout", action_setting: block.settings.action, trigger: header_block_hello_bar_action %}
</div>