{% assign btnId = "btn_text" | settings_id: section: section, block: block %}
{% assign btn_background_color = section.settings.btn_background_color | default: settings.btn_background_color %}
{% assign btn_text_color = section.settings.btn_text_color | default: settings.btn_text_color %}
{% assign btn_border_radius = section.settings.btn_border_radius | default: settings.btn_border_radius | remove: "px" | append: "px" %}
{% assign btn_style = section.settings.btn_style | default: settings.btn_style %}
{% assign btn_size = section.settings.btn_size | default: settings.btn_size %}
{% assign btn_width = section.settings.btn_width | default: settings.btn_width %}

<style>
  input[type="radio"]:checked + label .offer {
    border-color: {{ section.settings.selected_color }};
  }
  input[type="radio"]:checked + label .offer__radio-inner {
    background-color: {{ section.settings.selected_color }};
  }
  input[type="radio"]:checked + label .offer__price {
    color: {{ section.settings.selected_color }};
  }
  .offers .btn {
    color: {{ btn_text_color }};
    border-color: {{ btn_background_color }};
    border-radius: {{ btn_border_radius }};
    background-color: {{ btn_background_color }};
  }
  .offers .btn--outline {
    background: transparent;
    color: {{ btn_background_color }};
  }
</style>

<div class="offers offers--{{ section.id }}" kjb-settings-id="{{ 'show_pricing' | settings_id: section: section }}">
  {% if sales_page.offers.size > 1 %}
    {% if section.settings.title != "" %}
      <p class="h5 offers__title" kjb-settings-id="{{ 'title' | settings_id: section: section }}">{{ section.settings.title }}</p>
    {% endif %}
  {% endif %}
  {% if sales_page.offers.size == 0 %}
    <div class="alert alert--info text-xs-center" role="alert">
      <strong>Heads up!</strong> You have not selected any offers.<br />To sell your products, please add one or more offers in the admin.
    </div>
  {% elsif sales_page.offers.size == 1 %}
    <form action="{{ sales_page.checkout_url }}" method="GET">
      <input type="hidden" name="offer_token" value="{{ sales_page.offers.first.token }}" />
      <div class="offer offer--single">
        <p class="offer__title">{{ sales_page.offers.first.title }}</p>
        <div class="offer__desc">{{ sales_page.offers.first.description }}</div>
        <p class="offer__price">{{ sales_page.offers.first | display_price }}</p>
      </div>
      <button id="{{ btnId }}" type="submit" class="btn btn--{{ btn_style }} btn--{{ btn_size }} btn--{{ btn_width }}" kjb-settings-id="{{ btnId }}">{{ section.settings.btn_text }}</button>
    </form>
  {% else %}
    <form action="{{ sales_page.checkout_url }}" method="GET">
      {% for offer in sales_page.offers %}
        <input type="radio" id="radio-{{ offer.id }}--{{ section.id }}" name="offer_token"
        value="{{ offer.token }}" {% if forloop.index == 1 %}checked{% endif %} >
        <label for="radio-{{ offer.id }}--{{ section.id }}">
          <div class="offer">
            <div class="media">
              <div class="media-left">
                <div class="offer__radio">
                  <div class="offer__radio-inner"></div>
                </div>
              </div>
              <div class="media-body media-middle">
                <p class="offer__title">{{ offer.title }}</p>
              </div>
            </div>
            <div class="offer__desc">{{ offer.description }}</div>
            <p class="offer__price">{{ offer | display_price }}</p>
          </div>
        </label>
      {% endfor %}
      <button id="{{ btnId }}" type="submit" class="btn btn--{{ btn_style }} btn--{{ btn_size }} btn--{{ btn_width }}" kjb-settings-id="{{ btnId }}">{{ section.settings.btn_text }}</button>
    </form>
  {% endif %}
</div>