{% assign most_recent_product = current_site_user.most_recently_tracked_product %}

<style>
  .resume-course {
    border-style: {{ section.settings.resume_course_border_type }};
    border-color: {{ section.settings.resume_course_border_color }};
    border-radius: {{ section.settings.resume_course_border_radius | remove: "px" | append: "px" }};
    border-width: {{ section.settings.resume_course_border_width | remove: "px" | append: "px" }};
    background-color: {{ section.settings.resume_course_background_color }};
  }
  .resume-course__status {
    color: {{ section.settings.resume_course_status_color }} !important;
  }
  .resume-course__title {
    color: {{ section.settings.resume_course_title_color }} !important;
  }
  {% if section.settings.resume_course_background_color != blank or section.settings.resume_course_box_shadow != "none" %}
    .resume-course__text {
      padding: 30px;
    }
    .resume-course__image {
      margin: 0;
    }
  {% endif %}
  @media (min-width: 768px) {
    {% if section.settings.resume_course_background_color != blank or section.settings.resume_course_box_shadow != "none" %}
      .resume-course {
        padding: 30px;
        max-width: 560px !important;
      }
      .resume-course__text {
        padding: 0;
      }
    {% endif %}
  }
</style>

<div class="resume-course box-shadow-{{ section.settings.resume_course_box_shadow }} {% if section.settings.resume_course_background_color != blank %} background-{{ section.settings.resume_course_background_color | color_scheme_class }}{% endif %}" kjb-settings-id="{{ 'show_resume_course_cta' | settings_id: section: section }}">
  <div class="resume-course__positioner">
    {% if most_recent_product %}
      {% assign product_completion = most_recent_product.completion.percent %}
      {% assign post_next = most_recent_product.completion.next_post %}
      {% assign product_completion_next = post_next.url %}
      {% if product_completion == 0 %}
        {% assign resume_text = section.settings.start %}
        {% assign resume_text_id = 'start' | settings_id: section: section %}
      {% elsif product_completion == 100 %}
        {% assign resume_text = section.settings.again %}
        {% assign resume_text_id = 'again' | settings_id: section: section %}
        {% assign post_next = most_recent_product.categories.first.posts.first %}
        {% assign product_completion_next = post_next.url %}
      {% else %}
        {% assign resume_text = section.settings.resume %}
        {% assign resume_text_id = 'resume' | settings_id: section: section %}
      {% endif %}
      {% if post_next %}
        <a class="resume-course__content" href="{{ product_completion_next }}">
          <div class="resume-course__text">
            <p class="h6 resume-course__status" kjb-settings-id="{{ resume_text_id }}">{{ resume_text }}</p>
            <p class="resume-course__title">{{ post_next.category.title | append: " - " | append: post_next.title | truncate: 200, "..." }}</p>
          </div>
          <div class="resume-course__image">
            {% if post_next.poster_image_url %}
              <img src="{{ post_next.poster_image_url }}" />
            {% else %}
              <img src="{{ 'placeholder.png' | asset_url }}" />
            {% endif %}
          </div>
        </a>
      {% endif %}
    {% endif %}
  </div>
</div>