<style>
  #block-{{ block.id }} {
    line-height: 1;
  }
  #block-{{ block.id }} .logo__image {
    display: block;
    width: {{ block.settings.logo_width | remove: "px" | default: 40 | append: "px" }};
  }
  #block-{{ block.id }} .logo__text {
    color: {{ block.settings.logo_text_color }};
  }
</style>

<a class="logo" href="/">
  {% if block.settings.logo_type == "image" %}
    {% if current_site.logo_image != "" and block.settings.logo == "" %}
      <img class="logo__image" src="{{ current_site.logo_image | image_picker_url: 'logo.png' }}" kjb-settings-id="{{ 'logo' | settings_id: section: section, block: block }}" alt="{{ block.settings.image_alt }}" />
    {% else %}
      <img class="logo__image" src="{{ block.settings.logo | image_picker_url: 'logo.png' }}" kjb-settings-id="{{ 'logo' | settings_id: section: section, block: block }}" alt="{{ block.settings.image_alt }}" />
    {% endif %}
  {% elsif block.settings.logo_type == "text" %}
    <p class="logo__text" kjb-settings-id="{{ 'logo_text' | settings_id: section: section, block: block }}">{{ block.settings.logo_text }}</p>
  {% endif %}
</a>