{% include "element_social_icons_style" %}

<style>
  .social-icons--{{ block.id }} {
    text-align: {{ block.settings.social_text_align }};
  }
  {% if block.settings.social_text_align == "center" %}
    .social-icons--{{ block.id }} .social-icons__icons {
      justify-content: center;
    }
  {% elsif block.settings.social_text_align == "right" %}
    .social-icons--{{ block.id }} .social-icons__icons {
      justify-content: flex-end;
    }
  {% endif %}
  .social-icons--{{ block.id }} .social-icons__heading {
    color: {{ block.settings.color_social_heading }};
  }
</style>

<div class="social-icons social-icons--sidebar social-icons--{{ block.settings.social_icon_background_style }} social-icons--{{ block.id }}" kjb-settings-id="{{ 'social_icons_text_color' | settings_id: section: section, block: block }}">
  <p class="h5 social-icons__heading">{{ block.settings.heading_text }}</p>
  <div class="social-icons__icons">
    {% include "element_social_icons" %}
  </div>
</div>