<style>
  .sidebar-instructor--{{ block.id }} {
    text-align: {{ block.settings.author_text_align }};
  }
  .sidebar-instructor--{{ block.id }} .sidebar-instructor__heading {
    color: {{ block.settings.color_author_heading }};
  }
  .sidebar-instructor--{{ block.id }} .sidebar-instructor__name {
    color: {{ block.settings.color_author_name }};
  }
  .sidebar-instructor--{{ block.id }} .sidebar-instructor__title {
    color: {{ block.settings.color_author_title }};
  }
  .sidebar-instructor--{{ block.id }} .sidebar-instructor__bio {
    color: {{ block.settings.color_author_bio }};
  }
  {% if block.settings.round_image == false %}
    .sidebar-instructor--{{ block.id }} .sidebar-instructor__image {
      border-radius: 0;
    }
  {% endif %}
</style>

<div class="sidebar-instructor sidebar-instructor--{{ block.id }}" kjb-settings-id="{{ 'heading' | settings_id: section: section, block: block }}">
  {% if block.settings.heading != blank %}
    <h6 class="sidebar-instructor__heading" kjb-settings-id="{{ 'heading' | settings_id: section: section, block: block }}">{{ block.settings.heading }}</h6>
  {% endif %}
  {% if block.settings.show_img %}
    {% if block.settings.image != blank %}
      <img class="sidebar-instructor__image" src="{{ block.settings.image | image_picker_url: 'instructor.png' }}" kjb-settings-id="{{ 'image' | settings_id: section: section, block: block }}" alt="{{ block.settings.image_alt }}" />
    {% elsif current_site.instructor_image != blank %}
      <img class="sidebar-instructor__image" src="{{ current_site.instructor_image }}" kjb-settings-id="{{ 'image' | settings_id: section: section, block: block }}" alt="{{ block.settings.image_alt }}" />
    {% else %}
      <img class="sidebar-instructor__image" src="{{ block.settings.image | image_picker_url: 'instructor.png' }}" kjb-settings-id="{{ 'image' | settings_id: section: section, block: block }}" alt="{{ block.settings.image_alt }}" />
    {% endif %}
  {% endif %}
  {% if block.settings.show_name %}
    <p class="h5 sidebar-instructor__name" kjb-settings-id="{{ 'name' | settings_id: section: section, block: block }}">
      {% if block.settings.name != blank %}
        {{ block.settings.name }}
      {% elsif current_site.instructor_name != blank %}
        {{ current_site.instructor_name }}
      {% endif %}
    </p>
  {% endif %}
  {% if block.settings.show_title %}
    <p class="sidebar-instructor__title" kjb-settings-id="{{ 'title' | settings_id: section: section, block: block }}">
      {% if block.settings.title != blank %}
        {{ block.settings.title }}
      {% elsif current_site.instructor_title != blank %}
        {{ current_site.instructor_title }}
      {% endif %}
    </p>
  {% endif %}
  {% if block.settings.bio !=blank %}
    <p class="sidebar-instructor__bio" kjb-settings-id="{{ 'bio' | settings_id: section: section, block: block }}">{{ block.settings.bio }}</p>
  {% endif %}
</div>