<style>
  .sidebar-custom--{{ block.id }} {
    text-align: {{ block.settings.custom_text_align }};
  }
  .sidebar-custom--{{ block.id }} .sidebar-custom__heading {
    color: {{ block.settings.color_custom_heading }};
  }
</style>

<div class="sidebar-custom sidebar-custom--{{ block.id }}">
  {% if block.settings.show_img %}
    <img class="sidebar-custom__image" src="{{ block.settings.image | image_picker_url: 'placeholder.png' }}" kjb-settings-id="{{ 'image' | settings_id: section: section, block: block }}" alt="{{ block.settings.image_alt }}" />
  {% endif %}
  {% if block.settings.heading != "" %}
    <p class="h5 sidebar-custom__heading" kjb-settings-id="{{ 'heading' | settings_id: section: section, block: block }}">{{ block.settings.heading }}</p>
  {% endif %}
  <div class="sidebar-custom__content" kjb-settings-id="{{ 'content' | settings_id: section: section, block: block }}">{{ block.settings.content }}</div>
  {% if block.settings.show_cta %}
    {% include "element_button" %}
  {% endif %}
</div>