<style>
  .sidebar-categories--{{ block.id }} {
    text-align: {{ block.settings.categories_text_align }};
  }
  .sidebar-categories--{{ block.id }} .sidebar-categories__title {
    color: {{ block.settings.color_categories_heading }};
  }
  .sidebar-categories--{{ block.id }} .sidebar-categories__select {
    color: {{ block.settings.color_categories_link }} !important;
  }
  .sidebar-categories--{{ block.id }} .sidebar-categories__link {
    color: {{ block.settings.color_categories_link }};
  }
  .sidebar-categories--{{ block.id }} .sidebar-categories__tag {
    color: {{ block.settings.color_categories_link }};
  }
</style>

<div class="sidebar-categories sidebar-categories--{{ block.id }}">
  <p class="h5 sidebar-categories__title" kjb-settings-id="{{ 'heading' | settings_id: section: section, block: block }}">{{ block.settings.heading }}</p>
  {% if block.settings.categories_layout == "list" %}
    <a class="sidebar-categories__link" href="/blog" kjb-settings-id="{{ 'all_tags' | settings_id: section: section, block: block }}">{{ block.settings.all_tags }}</a>
    {% for tag in tags %}
      {% if tags.current == tag %}
        <a class="sidebar-categories__tag sidebar-categories__tag--active" href="{{ current_site.url }}/blog?tag={{ tag | url_encode }}">{{ tag }}</a>
      {% else %}
        <a class="sidebar-categories__tag" href="{{ current_site.url }}/blog?tag={{ tag | url_encode }}">{{ tag }}</a>
      {% endif %}
    {% endfor %}
  {% elsif block.settings.categories_layout == "dropdown" %}
    <div class="select-box-field form-group">
      <select id="category-select" class="form-control sidebar-categories__select">
        <option value="{{ current_site.url }}/blog">{{ block.settings.all_tags }}</option>
        {% for tag in tags %}
          {% if tags.current == tag %}
            <option value="{{ current_site.url }}/blog?tag={{ tag | url_encode }}" selected>{{ tag }}</option>
          {% else %}
            <option value="{{ current_site.url }}/blog?tag={{ tag | url_encode }}">{{ tag }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <script>
      document.getElementById("category-select").onchange = function(evt) {
        document.location = evt.target.value;
      };
    </script>
  {% endif %}
</div>