<style>
   .sidebar-cta--{{ block.id }} {
     text-align: {{ block.settings.cta_text_align }};
   }
</style>

<div class="sidebar-cta sidebar-cta--{{ block.id }}">
  <div class="sidebar-cta__content" kjb-settings-id="{{ 'content' | settings_id: section: section, block: block }}">
    {{ block.settings.content }}
  </div>
  {% include "element_button" %}
</div>