<style>
  .sidebar-image--{{ block.id }} .image__overlay {
    {% if block.settings.always_show_on_mobile %}
      opacity: 1;
    {% else %}
      opacity: 0;
    {% endif %}
    background-color: {{ block.settings.overlay_background_color }};
  }
  .sidebar-image--{{ block.id }} .image__overlay-text {
    color: {{ block.settings.overlay_text_color }} !important;
  }
  @media (min-width: 768px) {
    .sidebar-image--{{ block.id }} .image__overlay {
      opacity: 0;
    }
    .sidebar-image--{{ block.id }} .image__overlay:hover {
      opacity: 1;
    }
  }
</style>

<div class="image sidebar-image sidebar-image--{{ block.id }}">
  {% capture sidebar_image_action %}
  {% if block.settings.img_action != blank %}
    <a class="image__link" href="{{ block.settings.img_action }}" {% if block.settings.img_action == "#two-step" %} data-target="#two-step" data-toggle="modal" {% endif %} {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %}>
  {% endif %}
  <img class="image__image" src="{{ block.settings.image | image_picker_url: 'placeholder.png' }}" kjb-settings-id="{{ 'image' | settings_id: section: section, block: block }}" alt="{{ block.settings.image_alt }}" />
  {% if block.settings.img_action != blank %}
    </a>
  {% endif %}
  {% endcapture %}
  {% include "enable_pop_up_checkout", action_setting: block.settings.img_action, trigger: sidebar_image_action %}
  {% if block.settings.enable_overlay %}
  {% capture sidebar_image_overlay_action %}
    {% if block.settings.img_action != blank %}
      <a href="{{ block.settings.img_action }}" {% if block.settings.img_action == "#two-step" %} data-target="#two-step" data-toggle="modal" {% endif %} {% if block.settings.new_tab == true %} target="_blank" rel="noopener" {% endif %} class="image__overlay background-{{ block.settings.overlay_background_color | color_scheme_class }}">
    {% else %}
      <div class="image__overlay background-{{ block.settings.overlay_background_color | color_scheme_class }}">
    {% endif %}
      <h4 class="image__overlay-text">
        {{ block.settings.overlay_text }}
      </h4>
    {% if block.settings.img_action != blank %}
      </a>
    {% else %}
      </div>
    {% endif %}
  {% endcapture %}
  {% include "enable_pop_up_checkout", action_setting: block.settings.img_action, trigger: sidebar_image_overlay_action %}
  {% endif %}
</div>