<style>
  {% if section.settings.bg_type == "image" %}
    #section-{{ section.id }} {
      background-image: url({{ section.settings.bg_image | image_picker_url: "background.jpg" }});
      background-position: {{ section.settings.bg_position }};
    }
  {% endif %}
  .member-directory {
    background-color: {{ section.settings.background_color }};
  }
  .member-directory .sizer {
    padding-top: {{ section.settings.padding_mobile.top | default: 40 | append: "px" }};
    padding-bottom: {{ section.settings.padding_mobile.bottom | default: 40 | append: "px" }};
  }
  .member-directory .container {
    max-width: calc(1260px + {{ section.settings.padding_mobile.right | default: 10 | append: "px" }} + {{ section.settings.padding_mobile.left | default: 10 | append: "px" }});
    padding-right: {{ section.settings.padding_mobile.right | default: 10 | append: "px" }};
    padding-left: {{ section.settings.padding_mobile.left | default: 10 | append: "px" }};
  }
  .member-directory__opt-in a {
    color: {{ section.settings.color_opt_in_text }};
  }
  .member-directory__title {
    color: {{ section.settings.color_heading_text }} !important;
  }
  .member {
    border: {{ section.settings.border_width | default: 1 | append: "px" }} {{ section.settings.border_type }} {{ section.settings.border_color | default: "black" }};
    border-radius: {{ section.settings.border_radius | default: 4 | append: "px" }};
    background-color: {{ section.settings.member_background_color }};
  }
  .member__name {
    color: {{ section.settings.color_name_text }} !important;
  }
  .member__bio {
    color: {{ section.settings.color_bio_text }};
  }
  .member__location {
    color: {{ section.settings.color_location_text }};
  }
  .member__social-icon {
    color: {{ section.settings.color_social_icon }};
  }
  @media (min-width: 768px) {
    {% if section.settings.bg_type == "image" %}
      #section-{{ section.id }} {
        {% if section.settings.background_fixed %}
          background-attachment: fixed;
        {% endif %}
      }
    {% endif %}
    .member-directory .sizer {
      padding-top: {{ section.settings.padding_desktop.top | default: 100 | append: "px" }};
      padding-bottom: {{ section.settings.padding_desktop.bottom | default: 100 | append: "px" }};
    }
    .member-directory .container {
      max-width: calc(1260px + {{ section.settings.padding_desktop.right | default: 40 | append: "px" }} + {{ section.settings.padding_desktop.left | default: 40 | append: "px" }});
      padding-right: {{ section.settings.padding_desktop.right | default: 40 | append: "px" }};
      padding-left: {{ section.settings.padding_desktop.left | default: 40 | append: "px" }};
    }
  }
  .pag__link {
    color: {{ section.settings.color_pagination_default }};
  }
  .pag__link--disabled {
    color: {{ section.settings.color_pagination_disabled }};
  }
</style>

<section class="member-directory {% if section.settings.background_color != blank %} background-{{ section.settings.background_color | color_scheme_class }}{% endif %}" kjb-settings-id="{{ 'background_color' | settings_id: section: section }}">
  <div class="sizer">
    {% if section.settings.bg_type == "video" %}
      {% include "global_background_video" %}
    {% endif %}
    <div class="container">
      {% if current_site_user.opt_in_member_directory? == false %}
        <div class="member-directory__opt-in">{{ section.settings.text_opt_in | member_settings_link }}</div>
      {% else %}
        <div class="row member-directory__members">
          <div class="col-12 member-directory__col">
            <div class="member-directory__header">
              <h3 class="member-directory__title" kjb-settings-id="{{ 'text_heading' | settings_id: section: section }}">{{ section.settings.text_heading }}</h3>
              {% include "member_search" %}
            </div>
          </div>
          {% paginate member_directory.members by section.settings.pagination_amount %}
            {% for member in paginate.collection %}
              <div class="col-4 member-directory__col">
                {% include "member" %}
              </div>
            {% else %}
              <div class="col-12 member-directory__col">
                <p class="member-directory__no-results" kjb-settings-id="{{ 'text_no_results' | settings_id: section: section }}">{{ section.settings.text_no_results }}</p>
              </div>
            {% endfor %}
            </div>
            {% if paginate.pages > 1 %}
              {% include "pagination", simple: true %}
            {% endif %}
          {% endpaginate %}
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Member Directory",
    "deletable": "false",
    "duplicatable": "false",
    "elements": [
      {
        "type": "text",
        "id": "text_heading",
        "label": "Heading Text",
        "default": "Member Directory"
      },
      {
        "type": "color",
        "id": "color_heading_text",
        "label": "Heading Text Color",
        "default": "",
        "allow_blank": "true"
      },
      {
        "type": "color",
        "id": "color_filter_options",
        "label": "Search Menu Text Color",
        "default": "",
        "allow_blank": "true"
      },
      {
        "type": "text",
        "id": "text_name",
        "label": "Search Menu Name Text",
        "default": "Name"
      },
      {
        "type": "text",
        "id": "text_location",
        "label": "Search Menu Location Text",
        "default": "Location"
      },
      {
        "type": "text",
        "id": "text_no_results",
        "label": "No Results Text",
        "default": "No Results",
        "info": "Show this text when a search returns no results."
      },
      {
        "type": "text",
        "id": "text_search_placeholder",
        "label": "Search Placeholder Text",
        "default": "Search..."
      },
      {
        "type": "text",
        "id": "text_opt_in",
        "label": "Opt In Text",
        "default": "Don’t see any members? Please visit your member settings to opt-in to sharing your profile and see other members in the directory."
      },
      {
        "type": "color",
        "id": "color_opt_in_text",
        "label": "Opt In Text Color",
        "default": "",
        "allow_blank": "true"
      },
      {
        "type": "range",
        "id": "pagination_amount",
        "label": "Members Per Page",
        "default": "24",
        "min": "12",
        "max": "48"
      },
      {
        "type": "header",
        "content": "Search Button Appearance",
        "info": "This button shows on mobile devices only."
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default": "Submit"
      },
      {
        "type": "color",
        "id": "btn_background_color",
        "label": "Button Background Color",
        "default": "",
        "allow_blank": true
      },
      {
        "type": "color",
        "id": "btn_text_color",
        "label": "Button Text Color",
        "default": "",
        "allow_blank": true,
        "info": "For solid buttons only"
      },
      {
        "type": "radio",
        "id": "btn_width",
        "label": "Button Width",
        "default": "full",
        "allow_blank": true,
        "options": [
          {
            "value": "full",
            "label": "Full"
          },
          {
            "value": "auto",
            "label": "Auto"
          }
        ]
      },
      {
        "type": "radio",
        "id": "btn_style",
        "label": "Button Style",
        "default": "solid",
        "allow_blank": true,
        "options": [
          { "label": "Solid", "value": "solid" },
          { "label": "Outline", "value": "outline" }
        ]
      },
      {
        "type": "radio",
        "id": "btn_size",
        "label": "Button Size",
        "default": "medium",
        "allow_blank": true,
        "options": [
          { "label": "Small", "value": "small" },
          { "label": "Medium", "value": "medium" },
          { "label": "Large", "value": "large" }
        ]
      },
      {
        "type": "text",
        "id": "btn_border_radius",
        "label": "Border Radius",
        "default": "",
        "allow_blank": true
      },
      {
        "type": "header",
        "content": "Member Appearance"
      },
      {
        "type": "checkbox",
        "id": "show_avatar",
        "label": "Show Member Avatar",
        "default": "true"
      },
      {
        "type": "color",
        "label": "Background Color",
        "id": "member_background_color",
        "allow_blank": true,
        "default": "#fff"
      },
      {
        "type": "color",
        "label": "Name Text Color",
        "id": "color_name_text",
        "allow_blank": true,
        "default": ""
      },
      {
        "type": "color",
        "label": "Location Text Color",
        "id": "color_location_text",
        "allow_blank": true,
        "default": ""
      },
      {
        "type": "color",
        "label": "Social Icon Color",
        "id": "color_social_icon",
        "allow_blank": true,
        "default": ""
      },
      {
        "type": "checkbox",
        "id": "new_tab",
        "label": "Open Social Link in New Tab",
        "default": "true"
      },
      {
        "type": "select",
        "id": "border_type",
        "label": "Border Type",
        "default": "",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "solid",
            "label": "Solid"
          },
          {
            "value": "dotted",
            "label": "Dotted"
          },
          {
            "value": "dashed",
            "label": "Dashed"
          },
          {
            "value": "double",
            "label": "Double"
          },
          {
            "value": "ridge",
            "label": "Ridge"
          }
        ]
      },
      {
        "type": "range",
        "id": "border_width",
        "label": "Border Width",
        "default": "1",
        "min": "0",
        "max": "10"
      },
      {
        "type": "color",
        "id": "border_color",
        "label": "Border Color",
        "default": "",
        "allow_blank": "true"
      },
      {
        "type": "range",
        "id": "border_radius",
        "label": "Border Radius",
        "default": "4",
        "min": "0",
        "max": "50"
      },
      {
        "type": "select",
        "id": "box_shadow",
        "label": "Box Shadow",
        "default": "medium",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
      {
        "type": "header",
        "content": "Pagination Appearance"
      },
      {
        "type": "color",
        "label": "Pagination Default Color",
        "id": "color_pagination_default",
        "allow_blank": true,
        "default": ""
      },
      {
        "type": "color",
        "label": "Pagination Disabled Color",
        "id": "color_pagination_disabled",
        "allow_blank": true,
        "default": ""
      }
    ],
    "groups": [
      {
        "name": "Background",
        "elements": [
          {
            "type": "select",
            "id": "bg_type",
            "label": "Background Media Type",
            "default": "none",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "image",
                "label": "Image"
              },
              {
                "value": "video",
                "label": "Video"
              }
            ]
          },
          {
            "type": "video",
            "id": "bg_video",
            "label": "Background Video"
          },
          {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background Image",
            "info": "A good background image sets the tone for your website without distracting from your content. Suggested dimensions: 2880 × 1200.",
            "fit": "max",
            "width": 3000,
            "height": 3000
          },
          {
            "type": "radio",
            "id": "bg_position",
            "label": "Background Image Position",
            "default": "center",
            "info": "Vertical positioning of the background image.",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "background_fixed",
            "label": "Fixed Background Image",
            "default": "false",
            "info": "Make this section's background image fixed on scroll. Does not apply to mobile devices."
          },
          {
            "type": "color",
            "label": "Background Color",
            "id": "background_color",
            "default": "",
            "allow_blank": true,
            "info": "Set a background color or apply a color overlay to your background image or video. Use the color wheel slider to adjust opacity."
          }
        ]
      },
      {
        "name": "Desktop Layout",
        "elements": [
          {
            "type": "spacer",
            "id": "padding_desktop",
            "label": "Desktop Section Padding",
            "info": "Adjust padding inside of the section. Hold shift to increment/decrement by 10.",
            "placeholder": {
              "top": "100",
              "right": "40",
              "bottom": "100",
              "left": "40"
            }
          }
        ]
      },
      {
        "name": "Mobile Layout",
        "elements": [
          {
            "type": "spacer",
            "id": "padding_mobile",
            "label": "Mobile Section Padding",
            "info": "Adjust padding inside of the section",
            "placeholder": {
              "top": "40",
              "right": "10",
              "bottom": "40",
              "left": "10"
            }
          }
        ]
      }
    ]
  }
{% endschema %}