<style>
  {% if section.settings.bg_type == "image" %}
    #section-{{ section.id }} {
      background-image: url({{ section.settings.bg_image | image_picker_url: "background.jpg" }});
      background-position: {{ section.settings.bg_position }};
    }
  {% endif %}
  .thank-you {
    background-color: {{ section.settings.background_color }};
  }
  .thank-you .sizer {
    padding-top: {{ section.settings.padding_mobile.top | default: 40 | append: "px" }};
    padding-bottom: {{ section.settings.padding_mobile.bottom | default: 40 | append: "px" }};
  }
  .thank-you .container {
    max-width: calc(1260px + {{ section.settings.padding_mobile.right | default: 10 | append: "px" }} + {{ section.settings.padding_mobile.left | default: 10 | append: "px" }});
    padding-right: {{ section.settings.padding_mobile.right | default: 10 | append: "px" }};
    padding-left: {{ section.settings.padding_mobile.left | default: 10 | append: "px" }};
  }
  @media (min-width: 768px) {
    {% if section.settings.bg_type == "image" %}
      #section-{{ section.id }} {
        {% if section.settings.background_fixed %}
          background-attachment: fixed;
        {% endif %}
      }
    {% endif %}
    .thank-you .sizer {
      padding-top: {{ section.settings.padding_desktop.top | default: 40 | append: "px" }};
      padding-bottom: {{ section.settings.padding_desktop.bottom | default: 40 | append: "px" }};
    }
    .thank-you .container {
      max-width: calc(1260px + {{ section.settings.padding_desktop.right | default: 40 | append: "px" }} + {{ section.settings.padding_desktop.left | default: 40 | append: "px" }});
      padding-right: {{ section.settings.padding_desktop.right | default: 40 | append: "px" }};
      padding-left: {{ section.settings.padding_desktop.left | default: 40 | append: "px" }};
    }
  }
</style>

<section class="thank-you {% if section.settings.background_color != blank %} background-{{ section.settings.background_color | color_scheme_class }}{% endif %}" kjb-settings-id="{{ 'background_color' | settings_id: section: section }}">
  <div class="sizer {% if section.settings.full_height == true %}sizer--full{% endif %}">
    {% if section.settings.bg_type == "video" %}
      {% include "global_background_video" %}
    {% endif %}
    <div class="container">
      <div class="thank-you__text" kjb-settings-id="{{ 'thank_you_body' | settings_id: section: section }}">
        {% if offer.thank_you_body and offer.thank_you_body != "" %}
          {{ offer.thank_you_body }}
        {% else %}
          {{ section.settings.thank_you_body }}
        {% endif %}
      </div>
      {% if section.settings.use_btn %}
        {% include "element_button_section" %}
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Offer Thank You",
    "deletable": "false",
    "duplicatable": "false",
    "elements": [
      {
        "type": "rich_text",
        "id": "thank_you_body",
        "label": "Thank You Text",
        "default": "<h1>🎉</h1>\r\n<h1>Thank you!</h1>\r\n<p>Your purchase was successful. You&nbsp;will receive an email shortly with further instructions.</p>",
        "info": "This text can be overridden for individual offers by editing the offer settings in the admin."
      }
    ],
    "groups": [
      {
        "name": "Call To Action",
        "elements": [
          {
            "type": "checkbox",
            "id": "use_btn",
            "label": "Include CTA",
            "default": "true"
          },
          {
            "type": "text",
            "id": "btn_text",
            "label": "Text",
            "default": "Back to Home"
          },
          {
            "type": "action",
            "id": "btn_action",
            "label": "Button Action",
            "anchor": true,
            "two_step": true,
            "default": "/"
          },
          {
            "type": "checkbox",
            "id": "new_tab",
            "label": "Open In New Tab",
            "default": "false"
          },
          {
            "type": "color",
            "id": "btn_background_color",
            "label": "Button Background Color",
            "default": "",
            "allow_blank": true
          },
          {
            "type": "color",
            "id": "btn_text_color",
            "label": "Button Text Color",
            "default": "",
            "allow_blank": true,
            "info": "For solid buttons only"
          },
          {
            "type": "radio",
            "id": "btn_width",
            "label": "Button Width",
            "default": "",
            "allow_blank": true,
            "options": [
              {
                "value": "full",
                "label": "Full"
              },
              {
                "value": "auto",
                "label": "Auto"
              }
            ]
          },
          {
            "type": "radio",
            "id": "btn_style",
            "label": "Button Style",
            "default": "",
            "allow_blank": true,
            "options": [
              { "label": "Solid", "value": "solid" },
              { "label": "Outline", "value": "outline" }
            ]
          },
          {
            "type": "radio",
            "id": "btn_size",
            "label": "Button Size",
            "default": "",
            "allow_blank": true,
            "options": [
              { "label": "Small", "value": "small" },
              { "label": "Medium", "value": "medium" },
              { "label": "Large", "value": "large" }
            ]
          },
          {
            "type": "text",
            "id": "btn_border_radius",
            "label": "Border Radius",
            "default": "",
            "allow_blank": true
          }
        ]
      },
      {
        "name": "Background",
        "elements": [
          {
            "type": "select",
            "id": "bg_type",
            "label": "Background Media Type",
            "default": "none",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "image",
                "label": "Image"
              },
              {
                "value": "video",
                "label": "Video"
              }
            ]
          },
          {
            "type": "video",
            "id": "bg_video",
            "label": "Background Video"
          },
          {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background Image",
            "info": "Suggested dimensions: 2880 × 1200. Learn more about how to properly use background images [here](premier_hero_bg_image).",
            "fit": "max",
            "width": 3000,
            "height": 3000
          },
          {
            "type": "radio",
            "id": "bg_position",
            "label": "Background Image Position",
            "default": "center",
            "info": "Vertical positioning of the background image.",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "background_fixed",
            "label": "Fixed Background Image",
            "default": "false",
            "info": "Make this section's background image fixed on scroll. Does not apply to mobile devices."
          },
          {
            "type": "color",
            "label": "Background Color",
            "id": "background_color",
            "default": "",
            "allow_blank": true,
            "info": "Will be used as overlay if settings for background image selected. Use Opacity slider. Learn more about working with image overlays [here](image_overlay)"
          }
        ]
      },
      {
        "name": "Desktop Layout",
        "elements": [
          {
            "type": "spacer",
            "id": "padding_desktop",
            "label": "Desktop Section Padding",
            "info": "Adjust padding inside of the section. Hold shift to increment/decrement by 10.",
            "placeholder": {
              "top": "40",
              "right": "40",
              "bottom": "40",
              "left": "40"
            }
          },
          {
            "type": "checkbox",
            "id": "full_height",
            "label": "Make Section Full Height",
            "default": "",
            "info": "This section will fill the full height of the browser window."
          }
        ]
      },
      {
        "name": "Mobile Layout",
        "elements": [
          {
            "type": "spacer",
            "id": "padding_mobile",
            "label": "Mobile Section Padding",
            "info": "Adjust padding inside of the section",
            "placeholder": {
              "top": "40",
              "right": "10",
              "bottom": "40",
              "left": "10"
            }
          }
        ]
      }
    ]
  }
{% endschema %}